.navbar {
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.navbar p {
    margin: 0;
}

.navbar-headline {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 6px;
}

.navbar-subheadline {
    font-size: 0.8rem;
    font-weight: 400;
    color: #6c757d;
}
